<!-- BEGIN body1 -->
<div id="homepou">
	<ul>
	<!-- BEGIN body11 --><li>{pouname}</li><!-- END body11 -->
   	</ul>
</div>

<div class="fullwidth">
	<div id="registmenu"><div id="regist">{registper}{registou}</div><div id="edit">{edit}{delete}</div><div id="check">{checkper}{checkou}</div></div>
	<div id="homeouattr">
		{description}
		<!-- BEGIN body14 -->
			<ul>
				<li class="{homefixwli}">{attriname}</li><li>{attrivalue}</li>
			</ul>
		<!-- END body14 -->
	</div>
	<div id="homesubou">
		<!-- BEGIN body12 -->
			<ul>{subentrieso}</ul>
		<!-- END body12 --><!-- BEGIN body13 -->
			<ul>{subentriesp}</ul>
		<!-- END body13 -->
	</div>
</div>
<!-- END body1 -->