<!-- BEGIN body1 -->

<div id="homepou">
	<ul>
	<!-- BEGIN body11 --><li>{pouname}</li><!-- END body11 -->
   	</ul>
</div>

<div class="fullwidth">
	<div id="homeouattr">
		{description}
		<!-- BEGIN body12 -->
			<ul>
				<li class="{homefixwli}">{attriname}</li><li>{attrivalue}</li>
			</ul>
		<!-- END body12 -->
		<div id="regist">{editou}</div>
	</div>
	<div id="homesubou">
		<ul>
		<!-- BEGIN body13 -->{subentrieso}<!-- END body13 -->
		<!-- BEGIN body14 -->{subentriesp}<!-- END body14 -->
		</ul>
	</div>
</div>
<!-- END body1 -->